div.mdl-cell.mdl-cell--6-col.mdl-layout--large-screen-only
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp(style="min-width: 40%")
        thead
            tr
                th= "Gerät"
                th= "Schüler"
                th= "Klasse"
                th= "Verleihdatum"
        tbody
            each e in equipments
                tr
                    td= e.id
                    td= e.borrowed.name
                    td= e.borrowed.clazz
                    if(e.borrowed.date_from > -1)
                        td
                            p= "Von: " + moment(new Date(e.borrowed.date_from)).format("YYYY-MM-DD")
                            p= "Bis: " + moment(new Date(e.borrowed.date_to)).format("YYYY-MM-DD")
                    else
                        td
                            p= "Von: -"
                            p= "Bis: -"
                    td
                        if(e.borrowed.date_from <= -1)
                            a(href="/rentals/" + e.id).mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent= "Verleihen"
                        else
                            a(onclick="removeRental('" + e.id + "')").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent= "Zurückerhalten"

div.mdl-cell.mdl-cell--12-col.mdl-layout--small-screen-only
    each e in equipments
        div.mdl-cell.mdl-cell--5-col
            div.mdl-card.mdl-shadow--2dp
                div.mdl-card__supporting-text
                    ul.mdl-list
                        li.mdl-list__item= "Gerät: " + e.id
                        li.mdl-list__item= "Schüler: " + e.borrowed.name
                        li.mdl-list__item= "Klasse: " + e.borrowed.clazz
                        if(e.borrowed.date_from > -1)
                            li.mdl-list__item= "Verleihdatum"
                            li.mdl-list__item.padding-right= "Von:" + moment(new Date(e.borrowed.date_from)).format("YYYY-MM-DD")
                            li.mdl-list__item.padding-right= "Bis:" + moment(new Date(e.borrowed.date_to)).format("YYYY-MM-DD")
                        else
                            li.mdl-list__item
                                span.mdl-list__item-primary-content
                                    p= "Verleihdatum: "
                                    p= "Von: -"
                                    p= "Bis: -"
                div.mdl-card__actions.mdl-card--border
                    if(e.borrowed.date_from <= -1)
                        a(href="/rentals/" + e.id).mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent= "Verleihen"
                    else
                        a(onclick="removeRental('" + e.id + "')").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent= "Zurückerhalten"
    script.
        function removeRental(id) {
            var confirmRemoval = window.confirm("Wollen Sie\n" + id + "\n wirklich entfernen?");
            if (confirmRemoval === true) {
                $.ajax({
                    method: "DELETE",
                    data: {
                        equipmentName: id
                    },
                    url: "/rentals/"
                })
                    .done(function (data) {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            location.reload();
                        }
                    });
            }
        }