extends layout

block content
    div.mdl-grid
        div.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--4-col-tablet.mdl-cell--3-col-phone
            h4= "Derzeit Verliehen"
            div.mdl-cell.mdl-cell--12-col
                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="chkRentals", onclick="filter()")
                    input#chkRentals.mdl-checkbox__input(type="checkbox", checked=true)
                    span.mdl-checkbox__label= "Verliehene Ger채te"
            div.mdl-cell.mdl-cell--12-col
                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="chkAvailable", onclick="filter()")
                    input#chkAvailable.mdl-checkbox__input(type="checkbox", checked=true)
                    span.mdl-checkbox__label= "Verf체gbare Ger채te"
            div.mdl-cell.mdl-cell--12-col
                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    input.mdl-textfield__input(type="text", id="search", onkeyup="filter()")
                    label.mdl-textfield__label(for="search")= "Suchen"

            div.mdl-cell.mdl-cell--12-col
                span= "Sortieren nach: "

                label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="sortDevice", style="margin-right: 1em;", onclick="filter()")
                    input#sortDevice.mdl-radio__button(type="radio" name="sort", value="device", checked=true)
                    span.mdl-radio__label= "Ger채t "

                label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="sortClass", onclick="filter()")
                    input#sortClass.mdl-radio__button(type="radio" name="sort", value="class")
                    span.mdl-radio__label= "Klasse "
        span#dataContent
            include data


    script.
        function upgradeRecursive(rootNode){
            var children = rootNode.children;

            for (var i = 0; i < children.length; i++) {
                upgradeRecursive(children[i]);

                componentHandler.upgradeElement(children[i]);
            }
        }

        function filter() {
            var rentalsInput = document.getElementById("chkRentals");
            var availableInput = document.getElementById("chkAvailable");
            var searchInput = document.getElementById("search");
            var sortInputs = document.getElementsByName("sort");
            var rentals = rentalsInput.checked;
            var available = availableInput.checked;
            var searchText = searchInput.value;

            var sort = sortInputs[0].checked ? "device" : "class";

            $.ajax(
                {
                    url: "/search",
                    method: "POST",
                    data: {
                        searchText: searchText,
                        available: available,
                        rentals: rentals,
                        sort: sort
                    }
                }
            ).done(function (data) {
                $("#dataContent").html(data);
                var dataContent = document.getElementById("dataContent");

                upgradeRecursive(dataContent);

                componentHandler.upgradeElement(
                    document.getElementById("dataContent")
                );

            });
        }

