extends layout

block content
  div.mdl-grid
    div.mdl-cell.mdl-cell--12-col
      h1= title
      h2= "Verfügbare Geräte"
    div.mdl-cell.mdl.cell--1-col
      each item in equipment
        ul(class="mdl-list")
           li(class="mdl-list__item")
              span(class="mdl-list__item-primary-content")= item.description
              span(class="mdl-list__item-secondary-action")
                 label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect", for=item.id)
                  input.mdl-checkbox.mdl-checkbox__input(id=item.id, type="checkbox", checked=false, disabled=false)
