extends ../layout

block content
    div.mdl-grid
        div.mdl-cell.mdl-cell--12-col
            h4= "Gerät verleihen"
        div.mdl-cell.mdl-cell--12-col
            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#equipment(disabled=true, readonly=true, type="text", value="#{equipmentName}").mdl-textfield__input
                label(for="equipment").mdl-textfield__label= "Gerät"
        div.mdl-cell.mdl-cell--12-col
            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#pupil(type="text").mdl-textfield__input
                label(for="pupil").mdl-textfield__label= "SchülerIn"
        div.mdl-cell.mdl-cell--12-col
            select(id="clazzSelect", onchange="updateClazzname()").dropdown
                each clazz in classes
                    option(value="#{clazz.name}")= clazz.name
        div.mdl-cell.mdl-cell--12-col
            div#clazzDiv.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#clazz(type="text").mdl-textfield__input
                label(for="clazz").mdl-textfield__label= "Klasse"
        div.mdl-cell.mdl-cell--12-col
            div= "Reservieren bis"
            input#dateTo(readonly=true)
        div.mdl-cell.mdl-cell--12-col
            button(onclick="rent()").mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent.mdl-button--raised= "Reservieren"

    script.
        (function () {
            var inThreeWeeks = new Date((new Date().getTime() + 1000 * 60 * 60 * 24 * 7 * 3));

            $("#dateTo").pickadate();
            $("#dateTo").data("value", inThreeWeeks.getFullYear() + "/" + inThreeWeeks.getMonth() + "/" + inThreeWeeks.getDay());
        })();

        function updateClazzname() {
            var clazzSelect = document.getElementById("clazzSelect");
            var name = clazzSelect.options[clazzSelect.selectedIndex].value;

            $("#clazz").val(name);
            $("#clazzDiv").addClass("is-dirty");
        }

        function rent() {
            var equipmentName = $("#equipment").val();
            var pupilName = $("#pupil").val();
            var clazzName = $("#clazz").val();
            var dateTo = $("#dateTo").val();

            $.ajax({
                method: "POST",
                url: "/rentals/",
                data:{
                    equipmentName: equipmentName,
                    pupilName: pupilName,
                    clazzName: clazzName,
                    dateTo: dateTo
                }
            }).done(function (data) {
                if(data.error){
                    alert(data.error);
                }else{
                    location.href = "/";
                }
            });
        }