extends ../layout



block content
    div.mdl-grid
        //div.mdl-cell.mdl-cell--2-col
        //    ul.mdl-list(style="border: 1px solid gray")
        //        each item in types
        //            li.mdl-list__item
        //                span.mdl-list__item-primary-content.mdl-badge(data-badge=item.count)
        //                    span= item.type
        //                span.mdl-list__item-secondary-action
        //                    label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for=item.type)
        //                        input(id=item.type, type="checkbox", class="mdl-switch__input", checked=true)
        //div.mdl-cell.mdl-cell--10-col
        //    ul#equipmentList.mdl-list(style="border: 1px solid gray")
        //        each item in equipment
        //            li.mdl-list__item
        //                span.mdl-list__item-primary-content= item.description + " " + item.id
        div.mdl-cell.mdl-cell--12-col.mdl-cell--stretch
            div.mdl-grid
                div.mdl-cell.mdl-cell--3-col
                    div.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
                        div.mdl-tabs__tab-bar
                            each item, index in types
                                if(index === 0)
                                    a.mdl-tabs__tab.is-active(href="#" + item.type.replace(' ', ''))= item.type
                                else
                                    a.mdl-tabs__tab(href="#" + item.type.replace(' ', ''))= item.type

                        each item, index in types
                            mixin equipment-list
                                ul.mdl-list
                                    each e in equipment
                                        if(e.type === item.type)
                                            li.mdl-list__item(onclick="document.getElementById(" + e.id + ").click();")
                                                span.mdl-list__item-primary-content= e.description
                                                span.mdl-list__item-secondary-action
                                                    label.mdl-radio.mdl-js-radio.mdl-ripple-effect(for=e.id)
                                                        input.mdl-radio__button(id=e.id, value=e.id, name="equipment", type="radio")

                            if(index === 0)
                                div.mdl-tabs__panel.is-active(id=item.type.replace(' ', ''))
                                    mixin equipment-list
                            else
                                div.mdl-tabs__panel(id=item.type.replace(' ', ''))
                                    mixin equipment-list
                div.mdl-cell.mdl-cell--9-col
                    div.mdl-grid
                        div.mdl-cell.mdl-cell--12-col
                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                input#pupil.mdl-textfield__input(type="text", maxlength=255)
                                label.mdl-textfield__label(for="pupil")= "Schülername"
                        div.mdl-cell.mdl-cell--12-col
                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                input#clazz.mdl-textfield__input(type="text", maxlength=255)
                                label.mdl-textfield__label(for="clazz")= "Klasse"
                        div.mdl-cell.mdl-cell--2-col
                            a(href="/")
                                button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent.mdl-button--raised= "Abbrechen"
                        div.mdl-cell.mdl-cell--1-col
                            a(href="#", onclick="rent()")
                                button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent.mdl-button--raised= "Speichern"
    script.
        function rent(){
            var equipmentId = -1;
            var pupil;
            var clazz;
            var radios = document.getElementsByName("equipment");

            pupil = document.getElementById("pupil").value;
            clazz = document.getElementById("clazz").value;

            for(var i = 0; i < radios.length; i++){
                if(radios[i].checked){
                    equipmentId = radios[i].value;
                }
            }

            if(equipmentId > -1 && pupil && clazz && typeof pupil === typeof "" &&
                typeof clazz == typeof "" && pupil.length > 0 && clazz.length > 0){
                var form = document.createElement("form");
                var pupilInput = document.createElement("input");
                var clazzInput = document.createElement("input");
                var equipmentInput = document.createElement("input");

                pupilInput.setAttribute("type", "hidden");
                pupilInput.setAttribute("name", "pupil");
                pupilInput.setAttribute("value", pupil);

                clazzInput.setAttribute("type", "hidden");
                clazzInput.setAttribute("name", "clazz");
                clazzInput.setAttribute("value", clazz);

                equipmentInput.setAttribute("type", "hidden");
                equipmentInput.setAttribute("name", "equipment");
                equipmentInput.setAttribute("value", equipmentId);

                form.setAttribute("method", "POST");
                form.setAttribute("action", "/rentals/save");
                form.appendChild(pupilInput);
                form.appendChild(clazzInput);
                form.appendChild(equipmentInput);

                document.body.appendChild(form);
                form.submit();
            }else{
                alert("Manche Felder wurden nicht korrekt ausgefüllt");
            }
        }